body{
    margin:0;
    padding: 0;
}
.container{
    width:80%;
    margin-right: auto;
    margin-left: auto;
}
header{
    display: flex;
}
header ul{
    margin-top:40px;
    margin-left:auto;
}
header ul li{
    list-style-type:none;
    display: inline-block;
    padding:10px;
    font-size:20px; 
    font-family:raleway;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
section img{
    width:100%;
    max-height: 80vh;
}
section a{
    position: absolute;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:40px ;
    padding-right:40px ;
    background: black;
    color:white;
    font-size:22px;
    border: 3px solid white ;
}
 a:hover{
     background-color: white;
    text-decoration: none;
}
.cat{
    display: inline-block;
}
.intro h1{
    font-size: 50px;
    font-style: italic;
    margin-top: 15px;
    border-bottom: 2px solid blue;
}
.des{
    width:70%;
    margin-left: auto;
}
.card{
    width: 350px;
    margin-top:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.sec{
    margin-right: 20px;
}
.heading{
    margin-top: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px;
}
footer{
    justify-content: center;
    align-items: center;
    display: flex;
    background:gray ;
    height: 50px;
    margin-top: 10px;
}